<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			HeaderSandbox
		</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
		<meta content="" name="description">
		<meta content="dotchloe" name="author">
		<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
		<link async href="/static/bootstrap.min.css" rel="stylesheet">
		<link async href="/static/footer.css" rel="stylesheet">
	</head>
	<body onunload="">
		<div class="container">
			<div class="page-header m-t-1">
				<img alt="headersandbox-loggo" src="../static/headersandbox.png">
				<hr>
			</div><input class="form-control" id="add" placeholder="Set-Cookie: foo=bar;SameSite=Lax" type="text" value="">
			<form action="/sandbox/" class="form-horizontal" id="1337" method="post" name="1337" role="form">
				<div class="form-group" id="form-group"></div>
				<textarea class="form-control 1" id="2" name="payload" placeholder="Write HTML here!" rows="8"></textarea>
				<div class="form-group">
					<div class="col-sm-0">
						<input class="btn btn-primary" id="submit" type="submit" value="Sandbox!">
					</div>
				</div>
			</form>
		</div>
		<div class="container">
			<hr>
			<h4>
				Static Resources
			</h4>/static/ <code>png.png</code> <code>jpg.jpg</code> <code>gif.gif</code> <code>pdf.pdf</code> <code>css.css</code> <code>js.js</code>
			<hr>
			<h4>
		</div>
		<footer class="footer">
			<div class="container">
				<span class="dotchloe"><a href="https://twitter.com/dotchloe">@dotchloe</a></span> <span class="examples">| <a href="/examples/">Examples</a></span> <span class="information">| <a href="/info/">Information
				&amp; Usage</a></span>
			</div>
		</footer>
		<script src="/static/fragment.js">
		</script>
	</body>
</html>
